*{
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
}


header{
    border: 1px solid black;
    width: 100%;
    height: 50px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between
}

h1.hedertitle{
    width: 780px;
    margin: 0 auto;
    color: white;
}

span{
    color: #128C7E;
}

ul.option{
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    margin-right: 100px;
}

li.details{
    list-style: none;
    width: 70px;
}

a{   
    color: white;
    text-decoration: none;
    padding: 10px;
}

li.details-sklep{
    position: relative;
    list-style: none;
    width: 80px;
    color: white;
}

li.details-o-firmie{
    position: relative;
    width: 100px;
    list-style: none;
    color: white;
}

li.details-kontakt{
    position: relative;
    width: 100px;
    list-style: none;
    color: white;
}

ul.dropdown{
    font-size: 20px;
    position: absolute;
    top: 232%;
    width: 126px;
    height: 110px;
    right: -15px;
    background: black;
    display: none;
}

li.dropdetails{
    margin-top: 6px;
    text-align: center;
    color: white;
    list-style: none;
}

ul.details-sklep{
    position: absolute;
}

ul.details-o-firmie{
    position: absolute;
}

ul.details-kontakt{
    position: absolute;
}

ul.details-o-firmie:hover ul.dropdown{
    display: block;
}

ul.details-kontakt:hover ul.dropdown{
    display: block;
}

li.details-sklep:hover ul.dropdown{
    display: block;
}

div.foto{

    background: linear-gradient(0deg, rgba(208,208,208,1) 21%, rgba(255,255,255,1) 55%);
    width: 1100px;
    height: 450px;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}


.tringle-for-slider{
    display: block;
    position: relative;
    bottom: 10px;
    left: 52px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
  }

div.image{
    background: url(../images/black_chair.png);
    width: 470px;
    height: 337px;
}


h1.main-header-on-foto{
    font-size: 45px;
    padding-right: 220px;
    text-align: center;
    margin: 10px;
}

div.nextfoto{
    background: linear-gradient(0deg, rgba(208,208,208,1) 21%, rgba(255,255,255,1) 55%);
    width: 100%;
}

div.next-previous{
    font-size: 65px;
    color: #128C7E;
}

p.text-on-header-on-foto{
    text-align: center;
    font-size: 12px;
    margin: 0 auto;
    width: 426px;
    margin-top: 12px;
    font-weight: 100px;
}

div.button{
    font-weight: 100;
    display: block;
    background: #128C7E;
    border-radius: 5px;
    width: 230px;
    padding: 10px;
    margin: 0 auto;
    font-size: 15px;
    margin-top: 15px;
    color: white;
}

div.foto-side{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.margin-for-box{
    margin-right: 55px;
}

div.picture1{
    background: url("../images/box1_img.jpg");
    background-size: cover;
    border: 1px solid black;
    width: 350px;
    height: 250px;
    display: flex;
    align-items: flex-end;
}

div.picture2{
    background: url("../images/box2_img.jpg");
    background-size: cover;
    border: 1px solid black;
    width: 350px;
    height: 250px;
    display: flex;
    align-items: flex-end;
}

div.picture3{
    border: 1px solid black;
    width: 350px;
    height: 250px;
}

.text-foto{
    width: 100%;
    height: 50px;
    background: rgba(255,255,255,0.5);
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

p.text-in-img{
    margin-left: -70px;    
    margin-top: 7px; 
    display: flex;
}

p.text-in-img2{
    margin-left: -30px;    
    margin-top: 7px; 
    display: flex;
}

div.box-picture{
    position: relative;
    right: 80px;
    background: #128C7E;
    margin-top: 28px;
    margin-right: 28px;
    width: 140px;
    height: 10px;
}

div.box-picture2{
    position: relative;
    right: 122px;
    background: #128C7E;
    margin-top: 28px;
    margin-right: 28px;
    width: 140px;
    height: 10px;
}


/* div.setting-text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

p.text-image{

}

div.picture3 > h1.img-heder{
    margin: 15px;  
}

div.picture3 > p.text-image{
    margin: 15px;
}

h1.img-heder{
    font-size: 20px;
    width: 315px;
    height: 50px;
}

div.border-for-picture3{
    position: relative;
    top: 2px;
    border: 1px solid #128C7E;
    background: #128C7E;
    height: 10px;
    width: 140px;
}

div.border-choose-background{
    background: rgb(242, 242, 242);
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;   
}

div.border-choose1{
    border: 1px solid grey;
    background: white;
    width: 350px;
    height: 450px; 
}

div.border-choose2{
    border: 1px solid grey;
    background: #128C7E;
    width: 350px;
    height: 450px;
}

div.border-choose3{
    border: 1px solid grey;
    background: white;
    width: 350px;
    height: 450px;
}

.margin-for-box-choose{
    margin-right: 55px;
}

div.info1{
    background: rgb(220,220,220);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

div.info1second{
    background: white;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

div.info2{  
    background: rgb(230, 230, 230);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.info2second{  
    background: white;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.info2third{  
    background: rgb(220, 220, 220);
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.border-choose1 div.button1{
    background: #128C7E;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 30px;
    margin-top: 105px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.border-choose2 div.button1{
    background: white;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 30px;
    margin-top: 75px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.border-choose3 div.button1{
    background: #128C7E;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 30px;
    margin-top: 46px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


p.titlebasic{
    text-align: center;
    color: #128C7E;
    font-size: 25px;
}

div.border-choose2 > p.titlebasic{
    text-align: center;
    color: white;
    font-size: 25px;
}

p.option-in-button1{
    color: white;
}

div.border-choose2 p.option-in-button1{
    color: #128C7E;
}

div.price{
    border: 1px solid grey;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 30px;
    background: white;
}

div.price > p.name-of-price{
    text-align: center;
    margin-top: 20px;
    color: rgb(169,169,169);
    font-weight: bold;
    font-size: 30px;
}

p.name-of-kind{
    text-align: center;
}

sup{
    font-size: 12px;
}

p.tekst-in-info{
    font-size: 20px;
    color: rgb(169,169,169);
}


p.name-of-kind{
    color: rgb(169,169,169);
}

.border-choose1::before{
    content: '';
    position: relative;
    top: -40px;
    display: block;
    border: 1px solid grey;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 auto;
    background: white;
    margin-bottom: -35px;
}

.border-choose2::before{
    content: '';
    position: relative;
    top: -40px;
    display: block;
    border: 1px solid grey;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 auto;
    background: white;
    margin-bottom: -35px;
}

.border-choose3::before{
    content: '';
    position: relative;
    top: -40px;
    display: block;
    border: 1px solid grey;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 auto;
    background: white;
    margin-bottom: -35px;
}

div.small-option{
    content: '';
    position: relative;
    top: -45px;
    display: block;
    border: 1px solid grey;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 0 auto;
    background: grey;
}

div.border-form{
    background: white;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form.contact-form{
    width: 600px;
    margin-right: 110px;
}

label.tekst-in-form{
    
}

input.tekst-for-user{
    margin-top: 20px;
    height: 45px;
    margin-left: -130px;
}

input.tekst-for-user::-webkit-input-placeholder{
    font-size: 20px;
}

textarea.message{
    margin-top: 20px;
    margin-left: -130px;
}

textarea.message::-webkit-input-placeholder{
    font-size: 25px;
}


div.photo-in-form{
    background: url("../images/red_chair.png");
    width: 264px;
    height: 210px;
    background-size: cover;
    margin-bottom: 115px;   
    margin-left: -80px;
}

div.send-button{
    background: #128C7E;
    width: 100px;
    height: 65px;
}

div.send-button{
    margin-top: -40px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check{
  background-image: url("../images/form_ok.jpg");
  background-size: cover;
  background-position: center; 
  width: 50px;
  height: 50px;
  margin-top: 219px;
}

.bordercheck{
    border: 1px solid #128C7E;
    width: 50px;
    height: 50px;
    margin-top: -52px;
}

input.tekst-for-user{
    width: 700px;
    display: inline-block;
    border: 1px solid #128C7E;
    border-radius: 4px;
    padding-left: 10px;
    box-sizing: border-box;
}

textarea.message{
    display: inline-block;
    border: 1px solid #128C7E;
    border-radius: 4px;
    width: 700px;
    padding-left: 10px;
    box-sizing: border-box;
    height: 225px;
}

.check-text{
    margin-top: 20px;
}

div.border-for-main-text{
    position: relative;
    top: 50px;
    left: 139px;
    width: 350px;
    height: 10px;
    background: #128C7E;
}

p.price-list{
    position: relative;
    top: 50px;
    left: 142px;
}

.concact-border{
    position: relative;
    top: 79px;
    left: 142px;
    width: 350px;
    height: 10px;
    background: #128C7E;
}

.contact-text{
    position: relative;
    top: 79px;
    left: 145px;
    width: 350px;

}

p.check-text{
    position: relative;
    top: -65px;
    left: 65px;
}

p.send-tekst{
    color: white;
    font-size: 25px;
}

div.finish{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

p.finish-sentens{
    color: rgb(169,169,169);
    margin-right: 515px;
    margin-left: -96px;
}

.icon{
    padding-right: 20px;
}

.finish-text{
    color: rgb(169,169,169);
    margin-right: 10px;
    margin-left: 50px;
}




